<!DOCTYPE html>
<html>
<head>
	<title>JamEater Dashboard</title>
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<center>
	<h1>
		Welcome to JamEater Dashboard!
	</h1>
</center>
<center>
	<div class="col-lg-4">
		<div class="card card-chart">
		  <div class="card-header">
			<h5 class="card-category">Click here to log in:</h5>
            <button class="btn btn-fill btn-success" onclick="window.location.href='/login'">Log In</button>
		  </div>
		</div>
	</div>
</center>
</body>
</html>
