<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>BreadBot Dashboard - Dashboard</title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<center>
    <h1>Welcome {{user}}!</h1>
</center>
<center>
	<div class="col-lg-4">
		<div class="card card-chart">
		  <div class="card-header">
			<h5 class="card-category">Choose a server:</h5>
              <select class="form-control" name="servers" id="servers">
                {% for guild in guilds %}
                    <option value={{ guild.id }} style="color:black">{{ guild.name }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="btn btn-fill btn-success" onclick = "test('serverSelect','servers')" id = "serverSelect">Save</button>
		  </div>
		</div>
	</div>
</center>
<script>
    function test(id,data){
        let input = document.getElementById(data).value;
        console.log(input);
        window.location.replace(`/switchto/${input}`);
    }
</script>
</body>
</html>
